*{
  box-sizing: border-box;
}

.project_container_general {
  position: relative;
  width: 100%;
  top: 65px;
  z-index: 9;
  margin-bottom: 40px;
}

.projects_container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project_container {
  width: 85%;
  height: 250px;
  margin-bottom: 80px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px
}

.project_container:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border-top: 5px solid blue;
}    

.project_container img {
  width: 100%;
  height: 297px;
  border-radius: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.project_title {
  color: white;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 90px;
  font-weight: bold;
  margin-bottom: 0px;
}

@media (min-width:640px) {
  .project_container{
    width: 70%;
  }
}

@media (min-width:768px) {
  .project_container{
    width: 45%;
    height: 250px;
  }
}

@media (min-width:1024px) {
  .project_container{
    width: 35%;
    height: 300px;
    margin-bottom: 0px;
  }

  .projects_container{
    gap: 60px;
  }
}

@media (min-width:1152px) {
  .project_container{
    width: 33.3%;
  }

  .projects_container{
    gap: 70px;
  }
}

@media (min-width:1280px) {
  .project_container{
    width: 30%;
    margin-bottom: 60px;
  }

  .projects_container{
    gap: 30px;
  }
}

@media (min-width:1440px) {
  .projects_container{
    gap: 40px;
  }
}

@media (min-width:2048px) {
  .project_title{
    font-size: 3rem;
  }

  .project_container{
    height: 400px;
  }
}

@media (min-width:2560px) {
  .project_container{
    height: 500px;
  }

  .projects_container{
    gap: 50px;
  }
}

/* animaciones */

.proyect_title {
  animation: my-animation1 0.1s ease;
  -webkit-animation: my-animation1 0.1s ease;
}

@keyframes my-animation1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.proyects {
  animation: my-animation2 0.1s ease;
  -webkit-animation: my-animation2 0.1s ease;
}

@keyframes my-animation2 {
  from {
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}