* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {

  --github: #fff;
  --linkedin: #0e76a8;
  --mail: #ffdd00;
}

.contact_container-general {
  position: relative;
  width: 100%;
  top: 65px;
  z-index: 9;
  padding-bottom: 40px;
}

.contact_title {
  color: white;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.red_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  height: 150px;
  padding: 30px;
}

.social-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 65px;
  transition: background-color 0.2s ease-in-out;
  font-size: 30px;
  border: 2px solid gray;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}


.github:hover {
  background-color: var(--github);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  border: 2px solid whitesmoke;
  color: black;
}

.linkedin:hover {
  background-color: var(--linkedin);
  box-shadow: 0 0 20px rgba(0, 149, 255, 0.8);
  border: 2px solid rgb(43, 131, 166);
  color: black;
}

.form_container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  color: gainsboro;
  display: block;
  margin: 0 auto;
  width: 270px;
  margin-bottom: 40px;
  margin-top: 30px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  padding-left: 10px;
  background-color: rgb(20, 20, 20);
}

input::placeholder {
  color: rgb(118, 118, 118);
}

textarea::placeholder {
  color: rgb(118, 118, 118);
}

input:focus-within {
  outline: solid;
  border-width: 2px;
  background-color: #333;
  color: whitesmoke;
}

textarea:focus-within {
  outline: solid;
  border-width: 2px;
  background-color: #333;
  color: whitesmoke;
}

textarea {
  padding-top: 3px;
  padding-left: 10px;
  color: gainsboro;
  display: block;
  margin: 0 auto;
  width: 270px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(20, 20, 20);
  resize: none;
}

textarea:focus-within {
  outline: solid;
  border-width: 2px;
  background-color: #333;
  color: whitesmoke;
}

.contact_btn {
  width: 150px;
  padding-left: 0px;
  background-color: rgb(0, 0, 130);
  color: white;
}

.contact_btn:focus-within {
  outline: solid;
  border-width: 2px;
  color: rgb(255, 255, 255);
}

.contact_btn:hover {
  background-color: rgb(0, 0, 75);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (min-width: 375px) {
  input {
    width: 320px;
  }

  textarea {
    width: 320px;
  }
}

@media (min-width: 640px) {
  textarea {
    width: 370px;
  }

  input {
    width: 370px;
  }
}

@media (min-width: 768px) {
  .red_container {
    gap: 60px;
  }
}

@media (min-width: 1024px) {
  textarea {
    width: 500px;
  }
  input {
    width: 500px;
    height: 60px;
  }

  .red_container {
    gap: 60px;
  }
  .social-icon{
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

@media (min-width: 1440px) {
  .social-icon {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 40px;
  }
}

@media (min-width: 2048px) {
  .contact_title {
    font-size: 3rem;
  }

  input::placeholder {
    font-size: 1.5rem;
  }

  textarea::placeholder {
    font-size: 1.5rem;
  }

  .contact_btn{
    font-size: 1.7rem;
    width: 200px;
    height: 70px;
  }
}
