* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

#nav_logo {
  font-size: 1.1rem;
  color: white;
  font-weight: bolder;
}

#links_nav {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

#links_nav:hover{
  color: rgb(0, 153, 255);
  transition: all .50s;
  -webkit-transition: all .50s;
  -moz-transition: all .50s;
  -ms-transition: all .50s;
  -o-transition: all .50s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  padding-left: 20px;
  padding-right: 20px;
}

#btn_nav {
  color: gray;
}

#btn_icon {
  font-size: 1.3rem;
}

#navbarNav {
  transition: all .50s ease;
  -webkit-transition: all .50s ease;
  -moz-transition: all .50s ease;
  -ms-transition: all .50s ease;
  -o-transition: all .50s ease;
}

#nav_general {
  box-shadow: 0px 15px 20px rgba(15, 15, 15, 0.793);;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgb(15, 15, 15);
}

@media (min-width: 640px) {
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width:2048px) {
  #links_nav {
    font-size: 1.5rem;
  }

  #nav_logo{
    font-size: 1.5rem;
  }
}
